<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- section start -->
    <!-- ================ -->
    

        <div class="light-gray-bg section">
            <div class="container">
                <!-- filters start -->
                <div class="sorting-filters text-center mb-20">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Sort by</label>
                            <select class="form-control">
                                <option selected="selected">Date</option>
                                <option>Price</option>
                                <option>Model</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Order</label>
                            <select class="form-control">
                                <option selected="selected">Acs</option>
                                <option>Desc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Price $ (min/max)</label>
                            <div class="row grid-space-10">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control col-xs-6">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control">
                                <option selected="selected">Smartphones</option>
                                <option>Tablets</option>
                                <option>Smart Watches</option>
                                <option>Desktops</option>
                                <option>Software</option>
                                <option>Accessories</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-default">Submit</a>
                        </div>
                    </form>
                </div>
                <!-- filters end -->
            </div>
        </div>
    <!-- section end -->



        <!-- sidebar start -->
						<!-- ================ -->
    @*<aside class="col-md-3">
        <div class="sidebar">
            <div class="block clearfix">
                <h3 class="title">Categories</h3>
                <div class="separator-2"></div>
                <nav>
                    <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Diamonds</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Clothes</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Shoes</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Watches</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Hats</a></li>
                        <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Perfumes</a></li>
                    </ul>
                </nav>
            </div>
            <div class="block clearfix">
                <form role="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Search">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
        </div>
    </aside>*@
						<!-- sidebar end -->
   

    <div>
        @RenderBody()
    </div>
</body>
</html>
