<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from htmlcoder.me/preview/the_project/v.1.0/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Oct 2015 18:24:58 GMT -->
<head>
    <meta charset="utf-8">
    <title>The Project | Home</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.html">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/Content/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/Content/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/Content/plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="/Content/css/animations.css" rel="stylesheet">
    <link href="/Content/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/Content/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/Content/plugins/hover/hover-min.css" rel="stylesheet">

    <!-- the project core CSS file -->
    <link href="/Content/css/style.css" rel="stylesheet">

    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/Content/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/Content/css/custom.css" rel="stylesheet">
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<body class="no-trans front-page">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        <!-- header-container start -->
        <div class="header-container">

            <!-- header-top start -->
            <!-- classes:  -->
            <!-- "dark": dark version of header top e.g. class="header-top dark" -->
            <!-- "colored": colored version of header top e.g. class="header-top colored" -->
            <!-- ================ -->
            <div class="header-top dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-6 col-md-9">
                            <!-- header-top-first start -->
                            <!-- ================ -->
                            <div class="header-top-first clearfix">
                                <ul class="social-links circle small clearfix hidden-xs">
                                    <li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li class="skype"><a target="_blank" href="http://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
                                    <li class="flickr"><a target="_blank" href="http://www.flickr.com/"><i class="fa fa-flickr"></i></a></li>
                                    <li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li class="pinterest"><a target="_blank" href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                                <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                        <ul class="dropdown-menu dropdown-animation">
                                            <li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                            <li class="skype"><a target="_blank" href="http://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                            <li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="youtube"><a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
                                            <li class="flickr"><a target="_blank" href="http://www.flickr.com/"><i class="fa fa-flickr"></i></a></li>
                                            <li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                            <li class="pinterest"><a target="_blank" href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="list-inline hidden-sm hidden-xs">
                                    <li><i class="fa fa-map-marker pr-5 pl-10"></i>255 Boul. Crémazie</li>
                                    <li><i class="fa fa-phone pr-5 pl-10"></i>(514) 842-2426</li>
                                    <li><i class="fa fa-envelope-o pr-5 pl-10"></i>contact@findit.com</li>
                                </ul>
                            </div>
                            <!-- header-top-first end -->
                        </div>
                        <div class="col-xs-9 col-sm-6 col-md-3">

                            <!-- header-top-second start -->
                            <!-- ================ -->
                            <div id="header-top-second" class="clearfix">

                                <!-- header top dropdowns start -->
                                <!-- ================ -->
                                <div class="header-top-dropdown text-right">
                                    <div class="btn-group">
                                        <a href="/Content/page-signup.html" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> S'inscrire</a>
                                    </div>
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Connexion</button>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                            <li>
                                                <form class="login-form margin-clear">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Nom utilisateur</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                        <i class="fa fa-user form-control-feedback"></i>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Mot de passe</label>
                                                        <input type="password" class="form-control" placeholder="">
                                                        <i class="fa fa-lock form-control-feedback"></i>
                                                    </div>
                                                    <button type="submit" class="btn btn-gray btn-sm">Log In</button>
                                                    <span class="pl-5 pr-5">or</span>
                                                    <button type="submit" class="btn btn-default btn-sm">Sing Up</button>
                                                    <ul>
                                                        <li><a href="#">Forgot your password?</a></li>
                                                    </ul>
                                                    <span class="text-center">Login with</span>
                                                    <ul class="social-links circle small colored clearfix">
                                                        <li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                                        <li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                                    </ul>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--  header top dropdowns end -->
                            </div>
                            <!-- header-top-second end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top end -->
            <!-- header start -->
            <!-- classes:  -->
            <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
            <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
            <!-- "full-width": mandatory class for the full-width menu layout -->
            <!-- "centered": mandatory class for the centered logo layout -->
            <!-- ================ -->
            <header class="header  fixed   clearfix">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- header-left start -->
                            <!-- ================ -->
                            <div class="header-left clearfix">

                                <!-- logo -->
                                <div id="logo" class="logo">
                                    <a href="/home/index"><img id="logo_img" src="/Content/images/logo_light_blue.png" alt="The Project"></a>
                                </div>

                                <!-- name-and-slogan -->
                                <div class="site-slogan">
                                    On trouve ce qu'on veut
                                </div>

                            </div>
                            <!-- header-left end -->

                        </div>
                        <div class="col-md-9">

                            <!-- header-right start -->
                            <!-- ================ -->
                            <div class="header-right clearfix">

                                <!-- main-navigation start -->
                                <!-- classes: -->
                                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                                <!-- ================ -->
                                <div class="main-navigation  animated with-dropdown-buttons">

                                    <!-- navbar start -->
                                    <!-- ================ -->
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">

                                            <!-- Toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>

                                            </div>

                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                <!-- main-menu -->
                                                <ul class="nav navbar-nav ">
                                                    <li>
                                                        <a href="Home/Index">Accueil</a>
                                                    </li>
                                                    
                                                    <li class="dropdown ">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features</a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Headers</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-headers-default.html">Default/Semi-Transparent</a></li>
                                                                    <li><a href="/Content/features-headers-simple.html">Simple Static</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menus</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-headers-default.html">Default/On Hover Menu</a></li>
                                                                    <li><a href="/Content/features-menus-onclick-no-animations.html">On Click Menu - No Animations</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Footers</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-footers-default.html#footer">Footer - Default</a></li>
                                                                    <li><a href="/Content/features-footers-minimal.html#footer">Footer - Minimal</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main Sliders</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-sliders-fullscreen.html">Full Screen</a></li>
                                                                    <li><a href="/Content/features-sliders-text-rotator.html">Text Rotator</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pricing Tables</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-pricing-tables-1.html">Pricing Tables 1</a></li>
                                                                    <li><a href="/Content/features-pricing-tables-3.html">Pricing Tables 3</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Icons</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/features-icons-fontawesome.html">Font Awesome</a></li>
                                                                    <li><a href="/Content/features-icons-glyphicons.html">Glyphicons</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="/Content/features-dark-page.html">Dark Page</a></li>
                                                            <li><a href="/Content/features-grid.html">Grid</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown ">
                                                        <a href="/Content/portfolio-grid-2-3-col.html" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio Grid 1</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/portfolio-grid-1-2-col.html">2 Column</a></li>
                                                                    <li><a href="/Content/portfolio-grid-1-sidebar.html">With Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio Grid 2</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/portfolio-grid-2-2-col.html">2 Column</a></li>
                                                                    <li><a href="/Content/portfolio-grid-2-sidebar.html">With Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio Grid 3 - Dark</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/portfolio-grid-3-2-col.html">2 Column</a></li>
                                                                    <li><a href="/Content/portfolio-grid-3-sidebar.html">With Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio Fullwidth</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/portfolio-fullwidth-2-col.html">2 Column</a></li>
                                                                    <li><a href="/Content/portfolio-fullwidth-4-col.html">4 Column</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio List</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/Content/portfolio-list-1.html">List - Large Images</a></li>
                                                                    <li><a href="/Content/portfolio-list-sidebar.html">With Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="/Content/portfolio-item.html">Single Item 1</a></li>
                                                            <li><a href="/Content/portfolio-item-3.html">Single Item 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown ">
                                                        <a href="/Content/index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="/Content/index-shop.html">Shop Home 1</a></li>
                                                            <li><a href="/Content/index-shop-2.html">Shop Home 2</a></li>
                                                            <li><a href="/Content/shop-invoice.html">Invoice</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown ">
                                                        <a href="/Content/blog-large-image-right-sidebar.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Large Image</a>
                                                                <ul class="dropdown-menu to-left">
                                                                    <li><a href="/Content/blog-large-image-right-sidebar.html">Right Sidebar</a></li>
                                                                    <li><a href="/Content/blog-large-image-no-sidebar.html">Without Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Medium Image</a>
                                                                <ul class="dropdown-menu to-left">
                                                                    <li><a href="/Content/blog-medium-image-right-sidebar.html">Right Sidebar</a></li>
                                                                    <li><a href="/Content/blog-medium-image-no-sidebar.html">Without Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown ">
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masonry</a>
                                                                <ul class="dropdown-menu to-left">
                                                                    <li><a href="/Content/blog-masonry-right-sidebar.html">Right Sidebar</a></li>
                                                                    <li><a href="/Content/blog-masonry-no-sidebar.html">Without Sidebar</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="/Content/blog-timeline.html">Timeline</a></li>
                                                            <li><a href="/Content/blog-post.html">Blog Post</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <!-- main-menu end -->
                                                <!-- header dropdown buttons -->
                                                <div class="header-dropdown-buttons hidden-xs ">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                            <li>
                                                                <form role="search" class="search-box margin-clear">
                                                                    <div class="form-group has-feedback">
                                                                        <input type="text" class="form-control" placeholder="Search">
                                                                        <i class="icon-search form-control-feedback"></i>
                                                                    </div>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                                <!-- header dropdown buttons end-->

                                            </div>

                                        </div>
                                    </nav>
                                    <!-- navbar end -->

                                </div>
                                <!-- main-navigation end -->
                            </div>
                            <!-- header-right end -->

                        </div>
                    </div>
                </div>

            </header>
            <!-- header end -->
        </div>
        <!-- header-container end -->
        

        <div id="demos"></div>

        <section class="pv-40">
            <div class="container">
                @RenderBody()
            </div>
        </section>

        <div id="sliders"></div>

        <!-- footer top start -->
        <!-- ================ -->
        <div class="dark-bg footer-top animated-text default-hovered">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action text-center">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2>Powerful Bootstrap Template</h2>
                                    <h2>Waste no more time</h2>
                                </div>
                                <div class="col-sm-4">
                                    <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Purchase<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top end -->
        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        <footer id="footer" class="clearfix ">

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me/">HtmlCoder</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->
    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/Content/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/Content/plugins/modernizr.js"></script>

    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="/Content/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/Content/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="/Content/plugins/isotope/isotope.pkgd.min.js"></script>

    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/Content/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="/Content/plugins/waypoints/jquery.waypoints.min.js"></script>

    <!-- Count To javascript -->
    <script type="text/javascript" src="/Content/plugins/jquery.countTo.js"></script>

    <!-- Parallax javascript -->
    <script src="/Content/plugins/jquery.parallax-1.1.3.js"></script>

    <!-- Contact form -->
    <script src="/Content/plugins/jquery.validate.js"></script>

    <!-- Background Video -->
    <script src="/Content/plugins/vide/jquery.vide.js"></script>

    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/Content/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="/Content/plugins/jquery.browser.js"></script>
    <script type="text/javascript" src="/Content/plugins/SmoothScroll.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/Content/js/template.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="/Content/js/custom.js"></script>
</body>
@RenderSection("Scripts", false)

<!-- Mirrored from htmlcoder.me/preview/the_project/v.1.0/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Oct 2015 18:24:58 GMT -->
</html>
