
@using FindIt.Models.Entities
@using FindIt.Models.Manager
@model Address

@{
    string labelHtmlClass = "control-label col-md-2";
    string inputHtmlClass = "form-control";

    
        IEnumerable<SelectListItem> provinceList = ProvinceManager.GetSelectList(ViewBag.countryId);


        <div class="form-group">
            @Html.LabelFor(m => m.ProvinceId, "Province", new { @class = labelHtmlClass })
            @Html.DropDownListFor(m => m.ProvinceId, provinceList, "-select-", new { @class = inputHtmlClass })
            @Html.ValidationMessageFor(m => m.ProvinceId, "", new { @class = "text-danger" })
        </div>
    
}
